DB_USER=postgres
DB_PORT=5432
DB_PASSWORD=your-super-secret-password-kdjfkdfkdfdfkjdf
DB_HOST=postgres
DB_NAME=mcd
DB_DRIVER=postgres

API_PORT=8080

SECRET_TOKEN=84hfv3n749hfm3v9f8hm39475nymfj,odifjmwuignhfm43n8tm84,3tm