name: CI

on: [push]

jobs: 
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Install go and go-task
        uses: ./.github/actions/setup
        with:
          go-version-file: ./backend/go.mod
          task-version: "3.x"
          install-linter: true
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Run linters
        run: task back:lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Install go and go-task
        uses: ./.github/actions/setup
        with:
          go-version-file: ./backend/go.mod
          task-version: "3.x"
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Run unit tests
        run: task back:test:unit

  functional-tests:
    name: Functional Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  
      
      - name: Install go and go-task
        uses: ./.github/actions/setup
        with:
          go-version-file: ./backend/go.mod
          task-version: "3.x"
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Run functional tests
        run: task back:test:func

  
  build-go-binary:
    name: Build Go Binary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}  

      - name: Install go and go-task
        uses: ./.github/actions/setup
        with:
          go-version-file: ./backend/go.mod
          task-version: "3.x"
          token: ${{ secrets.GITHUB_TOKEN }}   

      - name: Run build
        run: task back:build

  build-and-push:
    name: Build and Push Images
    needs: [lint, unit-tests, functional-tests, build-go-binary]
    runs-on: ubuntu-latest
    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/ukma-cs-ssdm-2025/team-circus-backend:latest

      - name: Build and push migrator
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend/Dockerfile
          push: true
          tags: ghcr.io/ukma-cs-ssdm-2025/team-circus-migrator:latest

